*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 100%;
}

html, body {
  /* height: 10447px; /* 652,9375rem */
  max-width: 1440px;
  margin: auto;
}

header {
  background-color: #ffffff;
  height: 152px;
  padding-top: 1.3125rem;
}

.container {
  height: 80%; 
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  padding-left: 1.875rem;
  padding-top: 0.5625rem;
}

.logo {
  display: flex;
  align-items: center; 
  max-width: 13.888%; /* 200px */
  height: 53.4402%;
  margin-right: 11.9375rem;
}

.container .contacts{
  width: 46.111%;
  height: 68.7088%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.2rem;
  
}

.container .contacts:first-child{
  margin-right: 179px;
}

.contacts nav, .contacts a{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 42px;
  flex-shrink: 0; 
  text-decoration: none;
  color: #274C5B;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.36px;
}

.contacts-home-button{
  color: #7EB693 !important;
  font-size: larger;
}