<header>
    <div class="container">
        <span class="logo">
            <img src="./assets/organik_logo.png" alt="image-preview">
        </span>
        <input type="checkbox" id="menu-toggle">
        <label class="menu-icon active-burger-menu" for="menu-toggle">
            <span></span>
        </label>
        <div class="contacts active-burger-menu">
            <nav>
                <a href="/main_page/index.html" class="contacts-home-button">Home</a>
                <a href="/about_page/about.html">About Us</a>
                <a href="/shop_page/shop_page.html">Shop</a>
                <a href="#" class="contacts-use-bigger-size">Pages</a>
                <a href="/registration_page/registar.html" class="contacts-use-bigger-size" id="sign-up-link">Sign up</a>
                <a href="/login_page/login.html" class="contacts-use-bigger-size" id="sign-in-link">Sign in</a>
                <a href="#" class="contacts-use-bigger-size" id="sign-out-link" style="display: none;">Sign out</a>

            </nav>
        </div>
        <span class="cart" id="cart-button">
            <div class="cart-dark-round">
                <img src="./assets/cort_button_image.png" alt="Cart">
            </div>
            <a href="#" id="cart-link">Cart (<span id="cart-counter">0</span>)</a>
        </span>
    </div>
        <!-- Затемнение фона -->
    <div id="overlay" class="overlay"></div>

    <!-- Боковая панель -->
    <div id="side-menu" class="side-menu">
        <nav>
            <div class="side-cart" id="side-cart-button">
                <div class="cart-dark-round">
                    <img src="./assets/cort_button_image.png" alt="Cart">
                </div>
                <a href="/purchase_page/purchase_page.html" id="side-cart-link">
                    Cart (<span id="side-cart-counter">0</span>)
                </a>
            </div>
            <a href="/main_page/index.html">Home</a>
            <a href="/about_page/about.html">About Us</a>
            <a href="/shop_page/shop_page.html">Shop</a>
            <a href="#">Pages</a>
            <a href="/registration_page/registar.html" id="side-sign-up">Sign Up</a>
            <a href="/login_page/login.html" id="side-sign-in">Sign In</a>
            <a href="#" id="side-sign-out" style="display: none;">Sign Out</a>

        </nav>
    </div>

</header>